.container {
    background-color: rgb(104, 29, 201);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

.picture-img {
    background-color: rgb(116, 21, 21);
    text-align: center;
}

.picture-img img{
    width: 20%;
    height: 40%; 
    float: left;
    margin-right: 1%;
    border-radius: 3%;
    
}

.picture-img img:hover {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.clear {
    clear:both;
}
